
.article-detail .article-detail-container .ant-page-header-heading-left {
  flex-wrap: wrap;
  overflow: auto;
}

.article-detail .article-detail-container .ant-page-header-heading {
  flex-wrap: wrap;
}

.article-detail .article-detail-container .ant-page-header-heading-title {
  white-space: inherit;
  text-overflow: inherit;
}

:where(.css-dev-only-do-not-override-17yhhjv).ant-tag.ant-tag-has-color {
  /* filter: invert(100%); */
  /* mix-blend-mode: difference; */
  /* background-color: var(--base-color); */
  
}
/* 
.article-detail .article-detail-container .ant-breadcrumb-link span {
  text-overflow: ellipsis;
  text-overflow: ellipsis;
} */

