div.github-markdown-body {
  padding: 0;
}

button.v-md-copy-code-btn {
  position: absolute;
  top: 0;
  right: 0;
  color: #666;
  border: 1px solid #aaa;
}

button.v-md-copy-code-btn:hover {
  position: absolute;
  top: 0;
  right: 0;
  color: #333;
  border: none;
}
