name: GitHub Actions Build and Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    steps:
    - name: Build
      run: npm install && npm run build-only

    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        branch: publish
        folder: build # The folder the action should deploy.
